*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box
}

.container {
    border: 1px solid black;
    display: flex;
}
.leftBox{
    background-color: #222222;
    width: 350px;
    padding: 50px;
}
.rightBox{
    width: 100%;
    padding: 50px;
}
.user-image{
    width: 250px;
    height: 300px;
    border-radius: 100%;
}
.name-con{
    /*border:1px solid black;*/
    margin-top: 70px;
}
.name-con > h2{
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}
.name-con > h5{
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Noto Sans JP", sans-serif;
}
.left-site-box{
    /*border: 1px solid white;*/
    color: white;
    margin-top: 30px;
}
.left-site-box>h4 {
    text-transform: uppercase;
    border-bottom: 2px solid white;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}
.contact-sup-con {
   /* border:1px solid white;*/
    display: flex;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}
.contact-sup-con > .icon-con{
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.contact-sup-con > .text-con > h5 {
    margin-bottom: 10px;
    font-size: 15px;
}
.contact-sup-con > .text-con > p {
    font-size: 13px;
}
.skills-sup-con>h5 {
    text-transform: uppercase;
    margin-top: 15px;
}
.per-con {
    /*border: 1px solid white;*/
    height: 10px;
    margin-top: 10px;
    background-color: gray;
}
.per{
    background-color: white;
    width: 80%;
    height: 10px;
}
.right-site-title{
    border-bottom: 2px solid gray;
    display: flex;
    margin-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
}
.right-site-title > .icon-con{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #222222;
    border-radius: 100%;
    color: white;

}
.right-site-title > h3 {
    line-height: 50px;
    padding-left: 20px;
    text-transform: uppercase;

}
.right-site-con {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin-top: 20px;
}
.right-site-con > .years {
    font-weight: bold;
    width: 20%;
}
.right-site-con > .desc>.desc-title {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.references-con{
    border:1px solid black;
    display: flex;
}
.ref-sub{
    width: 50%;
}